@use "./base.scss";

p > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p > svg {
    vertical-align: sub;
}

p > video + em {
    display: block;
    // transform: translateY(-1rem);
}
p > img + em, p > video + em {
    text-align: center;
}

.explorer.mobile-only {
    ul.overflow:after, ol.overflow:after {
        background: transparent;
    }
}